body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: aliceblue;
}
header{
    display: flex;
    background: black;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
    background: tomato;
}
h1{
    text-align: center;
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
.flex{
    display: flex;
    flex-wrap: wrap; /*wrap: adapta a quebra de linha*/
    max-width: 800px;
    margin: 0 auto;
}
.flex>div{
    flex:1 1 200px;
    margin: 10px 10px;
}
.grid1{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*//*mesma coisa que a linha de baixo*/
    grid-template-columns: repeat(3, 1fr);/*repeat: repete algo, 3 vezes, 1 fração:fr*/
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;/*cria espaçamento*/
}
.grid1>div:nth-child(n + 4){ /*n: posicionamento, se vc colocar só um número ele vai colocar a cor em só um*/
    background-color: tomato;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}
.anuncio{
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;/*impede a quebra de linha*/
}/*texto também conta como linha*/
@media (max-width:600px){/*@media serve para adaptar o site para um celular ou tablet*/
    .grid1{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid1>div:nth-child(n + 4){
        display: block;
    }
    .grid1>div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;/*ordem do anúncio*/
    }
    .grid2{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: flex;
    }
    .sidebar>div{
        flex: 1 0 200px;
        margin: 0 10px;
    }
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.sidebar>div{/*nesse caso o sidebar é apenas o nome de um class no html*/
    margin-bottom: 10px;/*nessa linha o código usado foi usado para dar espaçamento entre uma linha e outra*/
}
.grid3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
}
.grid3-item:nth-child(1){
    grid-row: 1 / 3;/*row: fileira, linha, grade*/
}
.grid3-item{
    display: grid;
}
.grid3-item img{
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}
.grid3-item p{
    background: rgba(0, 0, 0, 0.6);/*0.6 é a transparência da legenda*//*rgba: red, green, blue e alpha, alpha pra transparência*/
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}